.container nav a {
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-size: 24px;
    cursor: pointer;
    font-weight: 500;
}
.container nav a:hover{
    color: rgb(247, 82, 17);
}
.container nav {
    background-color: rgb(176, 245, 222);
    padding: 20px;
}